<p id="notice"><%= notice %></p>

<h1><%= @user.full_name %></h1>
<p><em><%= @user.email %></em></p>

<%= render @user.posts.reverse %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
