<%= simple_form_for(@post) do |f| %>

  <div class="field">
    <%= f.input :title %>
  </div>

  <div class="field">
    <%= f.input :content %>
  </div>

  <div class="field">
    <%= f.association :users, label_method: :full_name, as: :check_boxes %>
  </div>


  <div class="actions">
    <%= f.button :submit %>
  </div>

<% end %>
